.Palette{
  display: inline-flex; flex-direction: column;
  background-color: black; color: white;
  padding: 1rem;
}

.Palette h2{
  margin-top: 0; margin-bottom: 1rem;
}
.Palette .colors {
  width: 18rem;
  display: flex;
  justify-content: space-around;
}

.Palette .PaletteItem {
  width: 2rem; height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0.7;
}

.Palette .PaletteItem:hover {
  opacity: 0.9;
}

.Palette .PaletteItem.active {
  opacity: 1;
}
